.fade-in {
    animation: fadeIn 0.25s ease-in-out;
}

.fade-out {
    animation: fadeOut 0.25s ease-out forwards;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Default light mode styles */
body {
    background-color: white;
    color: black;
}
